<div class="voting-page">

  <div class="container-fluid" style="padding-left: 20px; padding-right: 20px;">
    <div class="row">
      <div class="col-sm-11">
        <h2>{{ 'PORTAL_POLLS_TITLE' | translate }}</h2>
      </div>
    </div>

    <div id="row1" class="row row1">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <!-- TABS -->
            <ul class="nav nav-tabs">
              <li ng-class="{ active: $ctrl.isTabSet(1) }">
                <a ng-click="$ctrl.setTab(1)">{{ 'PORTAL_POLLS_ALL' | translate }}</a>
              </li>
              <li ng-class="{ active: $ctrl.isTabSet(2) }">
                <a ng-click="$ctrl.setTab(2)">{{ 'PORTAL_POLLS_ONGOING' | translate }}</a>
              </li>
              <li ng-class="{ active: $ctrl.isTabSet(3) }">
                <a ng-click="$ctrl.setTab(3)">{{ 'PORTAL_POLLS_ENDED' | translate }}</a>
              </li>
              <li ng-class="{ active: $ctrl.isTabSet (4) }">
                <a ng-click="$ctrl.setTab(4)">{{ 'PORTAL_POLLS_OPTIONS' | translate }}</a>
              </li>
            </ul>
          </div>
          <div class="panel-body">
            <br>
            <!-- LIST -->
            <div ng-hide="$ctrl.isTabSet(4)">
              <div class="pre-scrollable">
                <div ng-repeat="poll in $ctrl.pollsList track by $index">
                  <div class="poll-list-element">
                    <button ng-click="$ctrl.pollSelect($index)" class="btn btn-default poll-select"><span  ng-class="$ctrl.getClass($index)">{{$ctrl.types[$ctrl.pollsList[$index].type]}}</span> {{$ctrl.pollsList[$index].title}}</button>
                  </div>
                </div>
              </div>
              <br>
              <button type="submit" class="btn btn-success pull-xs-left" style="width:10%" ng-click="$ctrl.getPolls();" ng-disabled="$ctrl.loadingPolls"><i ng-class="$ctrl.loadingPolls ? 'fa fa-refresh fa-spin' : 'fa fa-refresh'" aria-hidden="true"></i></button>
            </div>
            <!-- OPTIONS TAB -->
            <div ng-show="$ctrl.isTabSet(4)">
              <!-- Index / Poll Address Input -->
              <form>
                <p>{{ 'PORTAL_POLLS_SEARCH_POLL_OR_INDEX' | translate }}</p>
                <input type="text" ng-model="$ctrl.inputAccount" style="width:60%"/>
                <p class="text-muted small">{{ 'PORTAL_POLLS_SEARCH_POLL_OR_INNDEX_EXPLAIN' | translate }}</p>
                <button type="submit" class="btn btn-success pull-xs-left" style="width:30%" ng-click="$ctrl.pollAddressInput();">{{ 'PORTAL_POLLS_FIND_POLL' | translate }}</button>
                <button type="submit" class="btn btn-success pull-xs-left" style="width:30%" ng-click="$ctrl.pollIndexInput();">{{ 'PORTAL_POLLS_FIND_INDEX' | translate }}</button>
                <div ng-show="$ctrl.searching"><i class="fa fa-spinner fa-spin"></i></div>
                <div ng-hide="$ctrl.inputAddressValid"><p class="text-danger">{{ 'PORTAL_POLLS_NOT_VALID_ADDRESS' | translate }}</p></div>
                <div ng-show="$ctrl.loadingAddressError"><p class="text-danger">{{ 'PORTAL_POLLS_ADDRESS_ERROR' | translate }}</p></div>
              </form>
              <br>
              <!-- only votable -->
              <input id="box1" type="checkbox" ng-model="$ctrl.onlyVotable" ng-click="$ctrl.updateList()"><label for="box1">{{ 'PORTAL_POLLS_SHOW_ONLY_POLLS_VOTE' | translate }}</label>
              <!-- INDEX CREATION -->
              <br>
              <br>
              <button class="btn btn-success pull-xs-left" style="width:25%" ng-click="$ctrl.createIndex = true;">{{ 'PORTAL_POLLS_CREATE_POLL_INDEX' | translate }}</button>
              <br>
              <br>
              <!-- Created indexes -->
              <div ng-hide="$ctrl.createdIndexes.length === 0">
                <label>{{ 'PORTAL_POLLS_CREATED_INDEXES' | translate }}:</label>
                <div ng-repeat="indexAddress in $ctrl.createdIndexes track by $index">
                  <a ng-click="$ctrl.inputAccount = indexAddress; $ctrl.pollIndexInput()">{{indexAddress}}</a>
                </div>
              </div>
            </div>
            <br>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color: rgb(68, 68, 68); color: white;border-radius: 0px;">
            <i class="fa fa-chevron-right"></i>
          </div>
          <!-- SPINNER -->
          <div ng-show="$ctrl.loadingPoll" class="loading-div">
            <i class="fa fa-4x fa-spinner fa-spin"></i>
          </div>
          <!-- Details -->
          <div class="panel-body" ng-show="$ctrl.showDetails && !$ctrl.loadingPoll && !$ctrl.createIndex && !$ctrl.loadingAddressError">
            <h2>{{$ctrl.selectedPoll.formData.title}} </h2>
            <p>{{ 'PORTAL_POLLS_POLL_ADDRESS' | translate }}: {{$ctrl.currentPollAddress}}</p>
            <p> <span ng-class="$ctrl.getCurrentTypeTagClass()">&nbsp{{$ctrl.getCurrentTypeTag()}}</span><span class="text-muted small"> {{ 'PORTAL_POLLS_DATE_OF_ENDING' | translate }}: {{$ctrl.selectedPoll.formData.doe | date:"MM/dd/yyyy 'at' h:mma"}}</span> </p>
            <br>
            <!-- VOTING TABS -->
            <ul class="nav nav-tabs">
              <li ng-class="{ active: $ctrl.isDetailsTabSet(1) }">
                <a ng-click="$ctrl.setDetailsTab(1)">{{ 'PORTAL_POLLS_VOTE' | translate }}</a>
              </li>
              <li ng-show="$ctrl.isCosignatory" ng-class="{ active: $ctrl.isDetailsTabSet(2) }">
                <a ng-click="$ctrl.setDetailsTab(2)">{{ 'GENERAL_TAB_MULTISIG' | translate }}</a>
              </li>
              <li ng-class="{ active: $ctrl.isDetailsTabSet(3) }">
                <a ng-click="$ctrl.setDetailsTab(3)">{{ 'PORTAL_POLLS_RESULTS' | translate }}</a>
              </li>
            </ul>
            <br>
            <p>{{$ctrl.selectedPoll.description}}</p>
            <br>
            <!-- MULTISIG SELECT -->
            <div class="input-group" ng-show="$ctrl.multisigVote">
              <span class="input-group-btn">
                <label for="namespaceParent" class="control-label">{{ 'GENERAL_ACCOUNT' | translate }}:</label>
              </span>
              <select class="form-control" ng-options="acc.address for acc in $ctrl._DataBridge.accountData.meta.cosignatoryOf track by acc.address" ng-model="$ctrl.multisigAccount" ng-change="$ctrl.checkHasVoted()"></select>
            </div>
            <!-- VOTE -->
            <div ng-show="$ctrl.showVote">
              <h4 class="text-warning" style="color: gray; ">{{ 'PORTAL_POLLS_VOTE' | translate }}</h4>
              <!-- Multiple answer -->
              <div ng-show="$ctrl.selectedPoll.formData.multiple">
                <p>
                  {{ 'PORTAL_POLLS_EXPLAIN_MULTI_ANSWER' | translate }}
                </p>
                <ul class="list-group">
                  <div ng-repeat="option in $ctrl.selectedPoll.options.strings track by $index">
                    <li class="list-group-item">
                      <input id="{{option}}" type="checkbox" ng-click="$ctrl.toggleSelection($index); $ctrl.checkValidVote()"><label for="{{option}}" ng-disabled="$ctrl.voting || $ctrl.alreadyVoted > 0">{{option}}</label>
                    </li>
                  </div>
                  <br>
                </ul>
              </div>
              <!-- Single answer -->
              <div ng-hide="$ctrl.selectedPoll.formData.multiple">
                <ul class="list-group">
                  <div ng-repeat="option in $ctrl.selectedPoll.options.strings track by $index">
                    <label class="form-check-label">
                      <li class="list-group-item">
                        <div class="radio">
                          <label>
                            <input type="radio" name="optionsRadios" ng-model="$ctrl.selectedOption" ng-value="$index" ng-click="$ctrl.checkValidVote()" ng-disabled="$ctrl.voting || $ctrl.alreadyVoted > 0">
                              {{option}}
                          </label>
                        </div>
                      </li>
                    </label>
                  </div>
                  <br>
                </ul>
              </div>
              <!-- Password and buttons -->
              <div ng-hide="$ctrl.alreadyVoted > 0 || $ctrl.loadingVote || $ctrl.pollFinished">
                <span class="input-group-btn">
                  <label ng-class="!$ctrl.common.password.length ? 'has-error' : ''">{{ 'FORM_PASSWORD' | translate }}:</label>
                </span>
                <input class="form-control" type="password" placeholder="{{ 'FORM_PASSWORD_FIELD_PLACEHOLDER' | translate }}" ng-model="$ctrl.common.password" ng-class="!$ctrl.common.password.length ? 'has-error' : ''" ng-change="$ctrl.checkValidVote()"/>
                <br>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7" ng-hide="$ctrl.loadingVote">
                    <div ng-hide="$ctrl.alreadyVoted || $ctrl.pollFinished">
                      <button class="btn btn-success pull-xs-left" type="submit" style="width:90%" ng-click="$ctrl.vote()" ng-disabled="$ctrl.voting || $ctrl.invalidVote || $ctrl.alreadyVoted > 0">Vote</button>
                      <br><br>
                      <p class="text-muted small">{{ 'PORTAL_POLLS_VOTING_HAS_FEE' | translate }} {{($ctrl.votingFee | fmtNemValue)[0]}}.{{($ctrl.votingFee | fmtNemValue)[1]}} {{ 'PORTAL_POLLS_XEM_PER_OPTION' | translate }}</p>
                    </div>
                    <div ng-show="$ctrl.alreadyVoted === 2">
                      <p class="text-success">{{ 'PORTAL_POLLS_CREATE_SUCCESS' | translate }}</p>
                    </div>
                    <div ng-show="$ctrl.alreadyVoted === 1">
                      <p class="text-warning">{{ 'PORTAL_POLLS_UNCONFIRMED_VOTE' | translate }}</p>
                    </div>
                    <div ng-show="$ctrl.pollFinished">
                      <p class="text-danger">{{ 'PORTAL_POLLS_POLL_ENDED' | translate }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- SEE RESULTS -->
            <div ng-hide="$ctrl.showVote || $ctrl.loadingResults">
              <br>
              <!--h4 class="text-warning" style="color: gray; ">Results</h4-->
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7">
                    <canvas id="doughnut" width="3" height="2" chart-options="$ctrl.chart.options" class="chart chart-doughnut" chart-data="$ctrl.chart.values" chart-labels="$ctrl.chart.labels">
                    </canvas>
                    <br>
                    <br>
                  </div>
                  <div class="col-md-5">
                    <div ng-hide="$ctrl.pollFinished" class="bg-warning ongoing-warning">
                      <p> {{ 'PORTAL_POLLS_POLL_NOT_FINISHED' | translate }} </p>
                    </div>
                    <div class="bg-info">
                      <span>
                        <div ng-repeat="option in $ctrl.results.options track by $index" style="text-align: left">
                          <b><ins>{{option.text}}</ins></b><br>
                          {{ 'PORTAL_POLLS_VOTES' | translate }}: {{option.votes}}<br>
                          {{ 'PORTAL_POLLS_WEIGHTED_SCORE' | translate }}*: {{($ctrl.selectedPoll.formData.type === 0) ? ((option.weighted*100).toFixed(5) + '%') : (option.weighted)}}<br>
                          {{ 'PORTAL_POLLS_PERCENTAGE' | translate }}: {{option.percentage.toFixed(2)}}<br>
                        </div>
                      </span>
                    </div>
                    <br>
                    <p class="text-muted small">
                      *{{ 'PORTAL_POLLS_WEIGHTED_EXPLAIN1' | translate }}:<br>
                      {{ 'PORTAL_POLLS_WEIGHTED_EXPLAIN2' | translate }}<br>
                      {{ 'PORTAL_POLLS_WEIGHTED_EXPLAIN3' | translate }}<br>
                    </p>
                  </div>
                </div>
              </div>
              <br><br>
            </div>
            <div ng-show="!$ctrl.showVote && $ctrl.loadingResults" class="loading-div">
              <i class="fa fa-4x fa-spinner fa-spin"></i>
            </div>

          </div>
          <!-- Poll Index Creation -->
          <div class="panel-body" ng-show="$ctrl.createIndex">
            <h2>{{ 'PORTAL_POLLS_CREATE_POLL_INDEX' | translate }}</h2>
            <br>
            <br>
            <p>
              {{ 'PORTAL_POLLS_CREATE_EXPLAIN1' | translate }}</p>
            <p>{{ 'PORTAL_POLLS_CREATE_EXPLAIN2' | translate }} {{$ctrl.indexCreationFee}} xem.</p>
            <p>
              {{ 'PORTAL_POLLS_CREATE_EXPLAIN3' | translate }}
            </p>
            <br>
            <input id="box2" type="checkbox" ng-model="$ctrl.createPrivateIndex"><label for="box2">{{ 'PORTAL_POLLS_CREATE_PRIVATE_INDEX' | translate }}</label>
            <br>
            <span class="input-group-btn">
              <label ng-class="!$ctrl.common.password.length ? 'has-error' : ''">{{ 'FORM_PASSWORD' | translate }}:</label>
            </span>
            <input class="form-control" type="password" placeholder="{{ 'FORM_PASSWORD_FIELD_PLACEHOLDER' | translate }}" ng-model="$ctrl.common.password" ng-class="!$ctrl.common.password.length ? 'has-error' : ''"/>
            <br>
            <button class="btn btn-success pull-xs-left" style="width:100%" ng-click="$ctrl.createNewIndex()">{{ 'PORTAL_POLLS_CREATE_POLL_INDEX' | translate }}</button>
          </div>
          <!-- Poll Error -->
          <div ng-show="$ctrl.loadingAddressError" class="loading-div">
            <h3>{{ 'PORTAL_POLLS_ERROR_FETCHING_POLL' | translate }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
